<%- include("partials/header.ejs")-%>
<style>
    h1{
        text-align: center;
        font-weight: bolder;
        font-size: 2rem;   
         }
</style>
<h1>YOU HAVE BEEN REGISTERED SUCCESSFULLY !!</h1>
<h1>NOW LOGIN TO OUR WEBSITE</h1>
</body>
</html>